@import "variables";

@import "bootstrap/scss/bootstrap";
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/mdn-like.css';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";


html {
  height: 100vh;
}

body {
  min-height: 100vh;

  button.btn:focus,button.btn:active {
    outline: none !important;
    box-shadow: none;
  }

  div#app {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    top: 58px;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0;
    position: fixed;

    .loading {
      align-content: center;
      color: #f60;
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      justify-content: center;
      h1 {
        span.fas, span.fab, span.far {
          margin-right: .25em;
        }
        text-align: center;
      }
    }

    .react-codemirror2 {
      display: block;
      flex: 1 1 auto;
      margin-right: auto;
      padding: 0;
      .CodeMirror.cm-s-mdn-like {
        background: #fff;
        height: 100%;
        .CodeMirror-gutters {
          border-left: 0;
        }
      }
    }

    .sidebar {
      background: #f8f8f8;
      border-left: 1px solid #ddd;
      min-width: 20em;
      padding: .5em 1em;
    }

    z-index: 50;
  }

  footer {
    align-content: center;
    background: #fff;
    color: black;
    border-top: 1px solid $gray-400;
    bottom: 0;
    height: 2.5em;
    padding: .5em 1em;
    text-align: left;
    z-index: 100;
  }
}
